
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-register {
    background-color: #fff;
    padding: 2rem;
    width: 400px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.container-register h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-top: 5px;
    transition: border-color 0.3s ease;
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus {
    border-color: #6c63ff;
}

.btn-submit {
    width: 100%;
    padding: 0.8rem;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.btn-submit:hover {
    background-color: #4a42cc;
}

@media (max-width: 768px) {
    .container-register {
        width: 100%;
        padding: 1.5rem;
    }

    .container-register h1 {
        font-size: 1.6rem;
    }

    .form-group input[type="text"],
    .form-group input[type="password"],
    .btn-submit {
        font-size: 14px;
    }
}
