
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background: linear-gradient(135deg, #1d3557, #457b9d);
    color: #fff;
}




.container {
    display: flex;
    width: 100%;
}

.image-section {
    flex: 1;
    background: url('../foto/gambar-mobil.jpeg') no-repeat center center/cover;
}

.content-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.7); 
}

form {
    text-align: center;
    margin: 1rem;
}

form input[type="submit"] {
    width: 200px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #457b9d;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #1d3557;
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.role-selection {
    text-align: center;
    margin-bottom: 2rem;
}

.role-selection h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.role-selection p {
    font-size: 1.2rem;
    color: #f1faee;
    opacity: 0.9;
 
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-section {
        height: 40vh;
    }

    .content-section {
        flex: none;
        padding: 1rem;
    }

    form input[type="submit"] {
        width: 80%;
        font-size: 0.9rem;
    }

    .role-selection h1 {
        font-size: 2rem;
        
    }

    .role-selection p {
        font-size: 1rem;
    }
}
